<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Caliste_Proyecto"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />

        <activity
            android:name=".SeccionesEntre"
            android:exported="true"/>
        <activity
            android:name=".BrazoAc"
            android:exported="true"/>
        <activity
            android:name=".Abdomen1.AbdomenAc"
            android:exported="true"/>
        <activity
            android:name=".Pecho1.PechoAc"
            android:exported="true"/>
        <activity
            android:name=".Espalda1.EspaldaAc"
            android:exported="true"/>
        <activity
            android:name=".Piernas1.PiernasAc"
            android:exported="true"/>
        <activity
            android:name=".TodoCP.TodoAc"
            android:exported="true"/>
        <activity
            android:name=".DietasAc.DietaAc"
            android:exported="true"/>
        <activity
            android:name=".DetalleAct"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>